{% extends "visitor_layout.html" %}
{% block content %}
<div class="relative">
    <!-- Hero Section -->
    {% if subpage.hero_layout %}
        {% with hero_colors=business_details %}
            {% include "components/hero/"|add:subpage.hero_layout|add:".html" with primary_color=hero_colors.primary_color secondary_color=hero_colors.secondary_color text_color=hero_colors.text_color hover_color=hero_colors.hover_color hero_primary=hero_primary hero_banner_2=hero_banner_2 hero_banner_3=hero_banner_3 subpage=subpage %}
        {% endwith %}
    {% endif %}

    <!-- Main Content -->
    <main>
        {{ page_data.subpage_data }}
     {% if page_data.home_page.show_welcome %}
        {% include "components/home/welcome.html" %}
     {% endif %}

     <!-- daily specials -->
     {% if page_data.home_page.show_daily_special %}
        {% include "components/home/daily_special.html"%}
     {% endif %}

     <!-- affiliates -->
     {% if page_data.home_page.show_affiliates %}
        {% include "components/home/affiliates.html"%}
     {% endif %}

     <!-- newsfeed -->
     {% if page_data.home_page.show_newsfeed %}
        {% include "components/home/newsfeed.html"%}
    {% endif %}

     <!-- upcoming events -->
     {% if page_data.home_page.show_upcoming_event %}
        {% include "components/home/upcoming_event.html"%}
     {% endif %}

     <!-- daily specials -->
     {% if page_data.home_page.show_daily_special %}
        {% include "components/home/daily_special.html"%}
     {% endif %}

     <!-- featured service -->
     {% if page_data.home_page.show_featured_service %}
        {% include "components/home/featured_service.html"%}
     {% endif %}

     <!-- featured product -->
     {% if page_data.home_page.show_featured_product %}
        {% include "components/home/featured_product.html"%}
     {% endif %}

     <!-- hours -->
     {% if page_data.home_page.show_hours %}
        {% include "components/home/hours.html"%}
     {% endif %}

     <!-- map -->
     {% if page_data.home_page.show_map %}
        {% include "components/home/map.html"%}
     {% endif %}
    </main>
</div>
{% endblock %}
