{% extends "visitor_layout.html" %}
{% block content %}
<div class="relative">
    <!-- Hero Section -->
    {% if subpage.hero_layout %}
        {% with hero_colors=business_details %}
            {% include "components/hero/"|add:subpage.hero_layout|add:".html" with primary_color=hero_colors.primary_color secondary_color=hero_colors.secondary_color text_color=hero_colors.text_color hover_color=hero_colors.hover_color hero_primary=hero_primary hero_banner_2=hero_banner_2 hero_banner_3=hero_banner_3 subpage=subpage %}
        {% endwith %}
    {% endif %}
    <main>
        <H1>Specials</H1>
    </main>
</div>
{% endblock %}