<!-- Preview Container -->
<div class="preview-content">
    <!-- Navigation Preview -->
    <div id="navigation-preview">
        {% include "components/navigation/top-nav/"|add:business_details.navigation_style|add:".html" %}
    </div>
    
    <!-- Page Content Preview -->
    <div id="page-content-preview">
        {% if is_home %}
            <!-- Home Page Components -->
            <div class="home-preview">
                {% if hero_primary and subpage.hero_layout %}
                    {% with template_name="components/hero/"|add:subpage.hero_layout|add:".html" %}
                        {% include template_name %}
                    {% endwith %}
                {% endif %}
                <!-- Add other home page components -->
            </div>

        {% elif menu_page %}
            <!-- Menu Page Components -->
            <div class="menu-preview">
                {% if hero_primary and subpage.hero_layout %}
                    {% with template_name="components/hero/"|add:subpage.hero_layout|add:".html" %}
                        {% include template_name %}
                    {% endwith %}
                {% endif %}
                {% include "components/menu/menu_section.html" %}
            </div>

        {% elif about_page %}
            <!-- About Page Components -->
            <div class="about-preview">
                {% if hero_primary and subpage.hero_layout %}
                    {% with template_name="components/hero/"|add:subpage.hero_layout|add:".html" %}
                        {% include template_name %}
                    {% endwith %}
                {% endif %}
                {% include "components/about/about_section.html" %}
            </div>
        {% endif %}
    </div>
</div>