{% extends "owner_layout.html" %}
{% load static %}
{% block body %}
{{ business_subdirectory|json_script:"business" }}
<div class="min-h-screen bg-gray-100 py-12">
        <div class="container mx-auto px-4">
            <div class="container">
                <div class="text-center">
                    <h1 class="p-2 text-4xl">{{business_details.business_name}} Business Dashboard</h1>
                    <h2 class="p-2 text-2xl">patrons.love/{{business_details.subdirectory}}</h2>
                    <ul>
                        <li><span>{{business_details.address}}</span></li>
                        <li><i>{{business_details.phone_number}}</i></li>
                        
                    </ul>
                    <div class="flex justify-center p-2">
                        <a href="{% url 'profile' %}" class="inline-block bg-teal-500 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-200">Return to Profile</a>
                    </div>
                </div>
                <div class="grid md:grid-cols-3 gap-4 grid-cols-1">
                    <!-- Layout Box -->
                    <div class="bg-white rounded-lg shadow-md p-4 min-h-[300px]">
                        <h2 class="text-xl font-semibold mb-4 -mt-1">Edit Your Website Layout</h2>
                        <a href="{% url 'edit_layout' business_subdirectory=business_details.subdirectory %}" 
                           class="inline-block bg-teal-500 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-200">
                            Edit Layout
                        </a>
                    </div>
                    <!-- Specials Box -->
                    <div class="bg-white rounded-lg shadow-md p-4 min-h-[300px]">
                        <h2 class="text-xl font-semibold mb-4 -mt-1">Edit Page Content</h2>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                            {% for page in subpages %}
                            <div class="flex justify-center">
                                <a href="{% url 'business_page' business_details.subdirectory page.page_type %}" 
                                    class="w-fit text-center bg-teal-500 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-200">
                                    {{ page.page_type|title }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
        
                    <!-- SEO Box -->
                    <div class="bg-white rounded-lg shadow-md p-4 min-h-[300px]">
                        <h2 class="text-xl font-semibold mb-4 -mt-1">SEO</h2>
                            <a href="{% url 'SEO' business_details.subdirectory %}" 
                               class="inline-block bg-teal-500 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-200">
                                SEO
                            </a>
                    </div>
                    <!-- Advertising Box -->
                    <div class="bg-white rounded-lg shadow-md p-4 min-h-[300px]">
                        <h2 class="text-xl font-semibold mb-4 -mt-1">Advertising</h2>
                        <a href="{% url 'Advertising' business_details.subdirectory %}" 
                           class="inline-block bg-teal-500 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-200">
                            Advertising
                        </a>
                    </div>
                    <!-- About Box -->
                    <div class="bg-white rounded-lg shadow-md p-4 min-h-[300px]">
                        <h2 class="text-xl font-semibold mb-4 -mt-1">Edit business Information</h2>
                            <a href="{% url 'edit_business' business_details.subdirectory %}" 
                               class="inline-block bg-teal-500 hover:bg-teal-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-200">
                                Edit Information
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
