{% for business in page_obj %}
    <div class="p-4 border rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
        <a href="{% url 'business_subdirectory' business_subdirectory=business.subdirectory %}" class="block">
            <h2 class="text-xl font-bold mb-2">{{business.business_name}}</h2>
            <p class="text-gray-600">{{business.city}}, {{business.state}}</p>
            <p class="text-gray-600">{{business.cuisine}} cuisine</p>
            <p class="text-gray-500 italic mt-2">opened {{business.created|date:"F j, Y"}}</p>
        </a>
    </div>
{% empty %}
    <p class="col-span-full text-center text-gray-500">No restaurants found.</p>
{% endfor %}